:root{
    --body-bg: hsl(0, 0%, 95%);
    --white-bg: rgb(255, 255, 255);
    --main-text-clr: #323131;
    --secondary-text-clr: #757575;
    --border-clr: hsla(0, 0%, 23%, 0.323);
    --radio-color: black;
    --button-bg-clr: #29ca8e;
    --hr-clr: #dfdfdf;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--body-bg);
    color: var(--main-text-clr);
    font-family: sans-serif;
    overflow-x: hidden;
    font-weight: normal;
}
nav.nav{
    width: 100vw;
}

.nav .list-container{
    display: flex;
    
    background-color: var(--white-bg);
    gap: calc(2vw + 2px);
    justify-content: center;
    
}

.nav .list-container .list-item{
    padding: 1rem;
    text-align: center;
    list-style: none;
    cursor: pointer;
    color: var(--main-text-clr);
}

.nav .list-container .list-item:nth-child(1){
    background-color: rgb(15, 81, 161) !important;
    color: var(--white-bg) !important;
}

.theme-option{
    position: relative;
}

.theme-option:hover .theme-selector{
    opacity: 1;
}

.visually-hidden{
    display: none;
}

.theme-selector{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    outline: 1px solid #00000052;
    border-radius: 1.5rem;
    overflow: hidden;
    top: 80%;
    cursor: default;

    transition: all 0.4s ease;
    opacity: 0;
}


.theme-selector > fieldset{
    border: none;
    display: flex;
    gap: 2rem;
    width: fit-content;
    background-color: var(--white-bg);
    padding: 1rem 1.2rem;
    margin-inline: auto;
}
.theme-selector input[type='radio']{
    appearance: none;
    width: clamp(0.7rem , 1vw, 2rem);
    aspect-ratio: 1;
    outline: 3px solid var(--radio-color);
    outline-offset: 3px;
    border-radius: 50%;
    cursor: pointer;
}
.theme-selector input[type='radio']:checked{
    background-color: var(--radio-color);
}
#light{
    --radio-color: gray;
}
#pink{
    --radio-color: #ff49a7;
}
#blue{
    --radio-color: blue;
}
#green{
    --radio-color: green;
}
#dark{
    --radio-color: #232323;
}

header{
    height: 35vh;
    background-color: var(--white-bg);
    display: flex;
    align-items: center;
    place-content: center;
    flex-direction: column;
    gap: 1rem;
    font-family: cursive;
}
header h1{
    font-size: clamp(2rem, 5vw, 3.5rem);
    font-weight: normal;
    color: var(--main-text-clr);
}
header p{
    color: #595f60;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

section > h2{
    text-align: center;
    margin-block: 3rem;
}

.product-contaniner{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3px;
    margin-bottom: 3rem;
}

.product-card{
    background-color: var(--white-bg);
    border: 2px solid var(--border-clr);
    width: 300px;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.product-card hr {
    border: 1px solid var(--hr-clr);
}

.product-card p{
    color: var(--secondary-text-clr);
}

.product-card h5{
    color: #353535;
}

.card-price-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-card button{
    padding: 10px 18px ;
    border-radius: 15px;
    border: none;
    outline: none;
    background-color: var(--button-bg-clr);
    color: var(--white-bg);
    cursor: pointer;
}

/* for small devices */
@media only screen and (max-width: 600px) {
    .theme-selector > fieldset{
        gap: 1.2rem;
        padding: 0.8rem 1rem;
    }
    .theme-selector input[type='radio']{
        outline: 2px solid var(--radio-color);
        outline-offset: 1px;
    }
}
body.pinkTheme{
    --body-bg: hsl(0, 100%, 95%);
    --white-bg: hsl(0, 87%, 91%);
    --main-text-clr: rgb(38, 38, 38);
    --secondary-text-clr: hsl(0, 25%, 48%);
    --border-clr: hsl(343, 51%, 61%);
    --radio-color: black;
    --button-bg-clr: #FF9130;
    --hr-clr: #fff;
}