:root{
    --body-bg: hsl(0 0% 90%);
    --white-bg: rgb(255, 255, 255);
    --text-clr: rgb(38, 38, 38);
    --heading-clr: rgb(38, 38, 38);
    --border-clr: hsl(0, 0%, 23%);
    --radio-color: black;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--body-bg);
    color: var(--text-clr);
    font-family: sans-serif;
    overflow: hidden;
}
nav.nav{
    width: 100vw;
}

.nav .list-container{
    display: flex;
    
    background-color: var(--white-bg);
    gap: calc(2vw + 2px);
    justify-content: center;
    
}

.nav .list-container .list-item{
    padding: 1rem;
    text-align: center;
    list-style: none;
    cursor: pointer;

}

.theme-option{
    position: relative;
}

.theme-option:hover .theme-selector{
    opacity: 1;
}

.visually-hidden{
    display: none;
}

.theme-selector{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    outline: 1px solid #00000052;
    border-radius: 1rem;
    overflow: hidden;
    top: 80%;

    transition: all 0.4s ease;
    opacity: 0;
}

/* 
.theme-selector::before{
    content: "";
    width: 15px;
    aspect-ratio: 1;
    background-color: red;
    position: absolute;
    top: -7px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    z-index: 9 !important;
} */

.theme-selector > fieldset{
    border: none;
    display: flex;
    gap: 2rem;
    width: fit-content;
    background-color: #fff;
    padding: 1rem 1.2rem;
    margin-inline: auto;
}
.theme-selector input[type='radio']{
    appearance: none;
    width: clamp(0.5rem , 1vw, 2rem);
    /* width: 1rem; */
    /* height: 1rem; */
    aspect-ratio: 1;
    outline: 3px solid var(--radio-color);
    outline-offset: 3px;
    border-radius: 50%;
    cursor: pointer;
}
.theme-selector input[type='radio']:checked{
    background-color: var(--radio-color);
}
#light{
    --radio-color: gray;
}
#pink{
    --radio-color: #ff49a7;
}
#blue{
    --radio-color: blue;
}
#green{
    --radio-color: green;
}
#dark{
    --radio-color: #232323;
}